*{margin:0; padding:0;}

@mixin flex ($justify-c) {
  display: flex;
  align-items: center;
  justify-content: $justify-c;
}

@keyframes bubble {
  from {
  opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#back {
  width: 100vw;
  height: 100vh;
  background-color: rgb(228, 228, 228);

  @include flex(center);

  #phone {
    width: 400px;
    height: 800px;
    background:linear-gradient(to right bottom,#fff,rgb(199, 199, 199));
//     background: rgb(255,255,255);
// background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,221,221,1) 100%);
// background: linear-gradient(180deg, rgba(139,139,139,1) 0%, rgba(159,159,159,1) 100%);
    // background-color:rgba(159,159,159); 
    
    display: flex;
    overflow: hidden;
    position: relative;

    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);

    nav {
      width: 10%;
      height: 5%;
      color: #ccc;
      margin: 5%;
      font-size: x-large;
    }

    .circle-1, .circle-2, .circle-3, .circle-4, .circle-5, .circle-6, .circle-7 {
      background-color: #ccc;
      position: absolute;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
      background-size: cover;
    }

    .circle-1 {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-image: url("http://file3.instiz.net/data/cached_img/upload/2020/08/26/20/9bbae96b9f80a61600f289585d9a5d32.png");

      top: -3%;
      right: 10%;

      animation: 3s bubble alternate infinite;
    }

    .circle-2 {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      background-image: url("http://file3.instiz.net/data/cached_img/upload/2020/08/26/20/9bbae96b9f80a61600f289585d9a5d32.png");

      top: 5%;
      right: 20%;

      animation: 5s bubble alternate infinite;
    }

    .circle-3 {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-image: url("http://img.segye.com/content/image/2021/11/16/20211116509679.jpg");

      top: 35%;
      left: 5%;

      animation: 4s bubble alternate infinite;
    }

    .circle-4 {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      background-image: url("https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/2XT/image/7pTs4URqh8k0Nh7H-0nOOYSvz_0");
      top: 45%;
      right: -5%;

      animation: 2.5s bubble alternate infinite;
    }

    .circle-5 {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-image: url("https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/2XT/image/7pTs4URqh8k0Nh7H-0nOOYSvz_0");

      top: 65%;
      right: 25%;

      animation: 5s bubble alternate infinite;
    }

    .circle-6 {
      width: 190px;
      height: 190px;
      border-radius: 190px;
      background-image: url("http://daily.hankooki.com/news/photo/201910/20191026_1_bodyimg_626681.jpg");

      bottom: -2%;
      left: -8%;

      animation: 4.5s bubble alternate infinite;
    }

    .circle-7 {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      background-image: url("https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/2XT/image/7pTs4URqh8k0Nh7H-0nOOYSvz_0");

      bottom: 3%;
      right: 10%;

      animation: 3.5s bubble alternate infinite;
    }
  }
}