*{margin: 0; padding: 0; list-style-type: none;}

@mixin flex ($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

#pc {
  width: 100vw;
  height: 200vh;
  background-color: rgb(56, 56, 56);
  @include flex (center, flex-end);
  flex-direction: column;
  position: relative;

  .circle-1 {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 105, 88);
    border-radius: 400px;

    position: absolute;
    top:5%;
    left: 30%;
  }

  .circle-2 {
    width: 550px;
    height: 550px;
    border: yellow 5px solid;
    border-radius: 550px;
    z-index: 1;

    position: absolute;
    top: 10%;
    right: 30%;
  }

  nav {
    width: 60%;
    height: 5%;
    @include flex(center,flex-start);
    
    position: absolute;
    z-index: 2;
    top:30%;
    left: 30%;

    ul {
      width: 10%;
      height: 100%;
    @include flex(center,space-around);
    flex-direction: column;
      
    li {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: #ccc;
    }
    }
  }

  .section-1, .section-2 {
    width: 80%;
    height: 35%;
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 3;
  }

  .section-1 {
    top: 30%;
  }

  .section-2 {
    bottom: -10%;
  }
}