*{margin:0; padding:0; list-style-type: none;}

@mixin display ($just) {
  display: flex;
  align-items: center;
  justify-content: $just;
}

@mixin border () {
  border: 1px solid black;
}

#pc{
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  @include display(center);
  flex-direction: column;

  nav {
    width: 90%;
    height: 10%;
    @include border();
    border-radius: 5px;
    @include display(flex-start);
    margin-top: 5%;

    ul{
      width: 15%;
      height: 100%;
      @include display(center);

      li {
        width: 15px;
        height: 15px;
        @include border();
        border-radius: 15px;
        margin-right: 10%;
      }
    }
  }

  main {
    width: 90%;
    height: 90%;
    @include display (center);

    aside {
      width: 10%;
      height: 85%;
      @include display(center);
      flex-direction: column;

      h1, h2, h3, h4 {
      width: 80%;
      height: 50%;
      @include border();
      border-radius: 5px;
      margin-bottom: 30px;
      }
    }

   section {
     width: 90%;
     height: 85%;
     @include display(center);
     flex-direction: column;

    .box {
      width: 90%;
      height: 20%;
     @include display(center);

     .photo {
       width: 30%;
       height: 80%;
       @include border();
       border-radius: 5px;
       margin: 1%;
     }
    }

    article {
      width:90%;
      height: 80%;
      text-align: justify;
      line-height: 3;
    }
   }
  }
}