*{margin:0; padding:0;}

@mixin flex ($align,$justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

#back {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  @include flex (center, center);

  #mobile {
    width: 400px;
    height: 800px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

  @include flex (center, center);
  flex-direction: column;
  }
}